@{
    ViewData["Title"] = "Controle de contatos";
}

<div class="text-center">
    <h1 class="display-4">gerencia seus contatos de forma prática</h1>
    <p>Faça login para gerenciar os seus contatos</p>
</div>
