@model ContatoModel
@{
	ViewData["Title"] = "Editar Contato";
}
<div class="text-center">
	<h1 class="display-3">Criar novo contato</h1>
	@using (Html.BeginForm("EditarContato", "Contatos", FormMethod.Post))
	{
		<div class="form-floating mb-3">
			<input type="hidden" asp-for="id" class="form-control" id="floatingInput">
		</div>
		<div class="form-floating mb-3">
		  <input type="text" asp-for="nome" class="form-control" id="floatingInput">
		  <label for="floatingInput">Nome</label>
		</div>
		<div class="form-floating mb-3">
		  <input type="tel" asp-for="telefone" class="form-control" id="floatingInput">
		  <label for="floatingInput">Telefone</label>
		</div>
		<div class="form-floating mb-3">
			  <input type="email" asp-for="email" class="form-control" id="floatingInput">
		  <label for="floatingInput">Email</label>
		</div>
		<div class="d-grid mt-3 d-md-flex">
			<button type"submit" class="btn btn-primary">Editar Contato </button>
			<a role="button" class="btn btn-secondary ms-3" asp-controller="Contatos" asp-action="Index">Voltar</a>
		</div>
	}

</div>

