@{
    ViewData["Title"] = "Lista de Contatos";
}

<h1 class="display-3">Lista de contatos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Contato</th>
      <th scope="col">Email</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>user01</td>
      <td>+55 8890999898</td>
      <td>teste@teste</td>
      <td>
          <div class="btn-group" role="group">
              <a role="button" class="btn btn-primary">Editar</a>
              <a role="button" class="btn btn-danger">Apagar</a>
          </div>
    </td>
    </tr>
    <tr>
      <th scope="row">2</th>
       <td>user02</td>
      <td>+55 8890999898</td>
      <td>teste@teste</td>
      <td>
          <div class="btn-group" role="group">
              <a role="button" class="btn btn-primary">Editar</a>
              <a role="button" class="btn btn-danger">Apagar</a>
          </div>
    </td>
    </tr>
    <tr>
      <th scope="row">3</th>
       <td>user03</td>
      <td>+55 8890999898</td>
      <td>teste@teste</td>
      <td>
          <div class="btn-group" role="group">
              <a role="button" class="btn btn-primary">Editar</a>
              <a role="button" class="btn btn-danger">Apagar</a>
          </div>
    </td>
    </tr>
  </tbody>
</table>

