@{
    ViewData["Title"] = "Lista de Contatos";
}

<h1 class="display-3">Lista de contatos</h1>

<table class="table">
  <thead>
    <tr>
        ID, Name, Contact and email address
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Contato</th>
      <th scope="col">Email</th>
      <th scope="col">Opção</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>user01</td>
      <td>+55 8890999898</td>
      <td>teste@teste</td>
    </tr>
    <tr>
      <th scope="row">2</th>
       <td>user02</td>
      <td>+55 8890999898</td>
      <td>teste@teste</td>
    </tr>
    <tr>
      <th scope="row">3</th>
       <td>user03</td>
      <td>+55 8890999898</td>
      <td>teste@teste</td>
    </tr>
  </tbody>
</table>

